<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
  <appSettings>
    <!--
        ;    0 - No output
        ;    1 - Debugger (Such as DbgView)
        ;    2 - File (Overwrite the old file and doesn't close it until application exits)
        ;    3 - File (Append the log at the end of file and close it after each log output)
        ;    4 - Debugger&File (Append the log at the end of file and close it after each log output)
-->
    <add key="logDestination" value="2"/>
    <add key="Output_Level" value="2"/>
    <!--log file path. if value is null or string.empty, don't ouput log to file-->
    <!--example:%LocalAppData%\log.txt-->
    <add key="Log_Path" value="Log"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
